---
title:  "Mechanicon"
description: "June 22nd 2024 in Frankfurt am Main - Join us for Europe's biggest Mechanical Keyboard Meetup!"
layout: default
image: "assets/images/twitter_card.jpg"
---

<div class="container-fluid drac-box drac-bg-pink-purple drac-p-sm top-banner">
  <div class="container">
  <div class="row my-1">
    <div class="col">
      <h2 class="drac-heading drac-heading-l drac-text-black">
        We are back!
        <a href="https://www.meetup.com/de-DE/mechanical-keyboard-meetup-rhein-main/events/298989951">SIGN UP HERE FOR THE 2024 EVENT!</a><span id="blinking-cursor">_</span>
      </h2>
    </div>
  </div>
  </div>
</div>

<div class="container">
  <div class="row mt-4 mb-5">
    <div class="col-sm-3 mb-4 mb-md-0">
      <a href="/">
        <img src="./assets/images/logo_white.svg" class="img-fluid" alt="Welcome to Mechanicon" />
      </a>
    </div>

    <div class="col-sm-9">
      <h2 class="drac-heading drac-heading-xl drac-text-white drac-text-yellow-pink text-end">
        Europe's biggest Mechanical Keyboard Meetup!
        <br/>
        <br/>
        June 22nd 2024
        <br/>
        Frankfurt am Main
      </h2>
    </div>
  </div>

  <div id="registration" class="row mt-2 mb-4">
    <div class="col-lg-3 mb-4">
      <div class="drac-box drac-card drac-bg-cyan-green drac-p-sm">
        <h2 class="drac-heading drac-heading-xl drac-text-black">
          Registration
        </h2>
      </div>
    </div>
    <div class="col-lg-9">
      <p class="drac-text drac-line-height drac-text-white">
        Registration for the event takes place on our meetup page.
      </p>

      <div style="border-style: solid; border-width: 1px;" class="drac-box drac-border-cyan drac-d-inline-block drac-rounded-lg drac-p-xs mb-4">
        <a class="drac-anchor drac-text drac-text-cyan drac-text-white--hover" href="https://www.meetup.com/de-DE/mechanical-keyboard-meetup-rhein-main/events/298989951">
          -> Please RVSP here for the 2024 meetup event! <-
        </a>
      </div>

      <p class="drac-text drac-line-height drac-text-white">
        It's very helpful for us organizers that you RSVP on meetup, because:
      </p>

      <ul class="drac-list drac-list-unordered drac-list-cyan">
        <li class="drac-text drac-text-white">
          We can reach you in case something happens on short notice
        </li>
        <li class="drac-text drac-text-white">
          We know how many people to expect and plan accordingly
        </li>
        <li class="drac-text drac-text-white">
          We can prepare name tags, etc..
        </li>
      </ul>
    </div>
  </div>

  <div id="about" class="row mt-2 mb-4">
    <div class="col-lg-3 mb-4">
      <div class="drac-box drac-card drac-bg-pink-purple drac-p-sm">
        <h2 class="drac-heading drac-heading-xl drac-text-black">
          About Mechanicon
        </h2>
      </div>
    </div>
    <div class="col-lg-9">
      <h3 class="drac-heading drac-heading-sm drac-text-pink-purple">
        What is Mechanicon?
      </h3>

      <p class="drac-text drac-line-height drac-text-white">
        Mechanicon is Europe’s biggest meetup/conference for people interested in mechanical keyboards.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        First and foremost we want you to be able to enjoy the keyboard community that always manages to get together with us at Mechanicon!
      </p>

      <h3 class="drac-heading drac-heading-sm drac-text-pink-purple">
        Mechanicon is getting huuuuge…
      </h3>

      <p class="drac-text drac-line-height drac-text-white">
        We started out with about 60 people in 2016, grew to 150 people in 2017, 250 in 2018, and 2023 we were about 380 attendees with visitors from all over Europe!
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        We never did any advertisement outside of community forums.
      </p>

      <h3 class="drac-heading drac-heading-sm drac-text-pink-purple">
        Mechanicon is free!
      </h3>

      <p class="drac-text drac-line-height drac-text-white">
        It is an event meant for everyone:
        <br />
        For the community, from the community.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        “Cheap” is something else for everyone, “free” means the same to all.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        We want the event to be open for everyone.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        Making admission free is an important step in this direction.
      </p>

      <h3 class="drac-heading drac-heading-sm drac-text-pink-purple">
        Mechanicon is friendly
      </h3>

      <p class="drac-text drac-line-height drac-text-white">
        Mechanicon is a family friendly event that aims to be inviting for everyone, experts and newbies alike.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        Everybody should feel welcome and safe.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        And the community is great and friendly, so we never had any problems regarding this yet!
      </p>
    </div>
  </div>

  <div id="sponsors" class="row mt-2 mb-4">
    <div class="col-lg-3 mb-4">
      <div class="drac-box drac-card drac-bg-purple-cyan drac-p-sm">
        <h2 class="drac-heading drac-heading-xl drac-text-black">
          Sponsors
        </h2>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="sponsor-img flex-wrap">
        {% for sponsor in site.data.sponsors %}
        <a href="{{sponsor.website}}" title="{{sponsor.name}}" class="sponsor-img-wrapper drac-box drac-bg-{{sponsor.box_background}} drac-rounded-lg me-3 mb-3 p-2 p-lg-4">
          <img alt="{{sponsor.name}}" src="{{sponsor.image_path}}" />
        </a>
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>

  <div id="schedule" class="row mt-2 mb-4">
    <div class="col-lg-3 mb-4">
      <div class="drac-box drac-card drac-bg-yellow-pink drac-p-sm">
        <h2 class="drac-heading drac-heading-xl drac-text-black">
          Schedule
        </h2>
      </div>
    </div>
    <div class="col-lg-9">
      <table class="drac-table">
        <tbody>
          <tr>
            <td class="drac-text drac-text-white">
              11:30
            </td>
            <td class="drac-text drac-text-white" style="max-width: 200px">
              Open Doors
            </td>
          </tr>
          <tr>
            <td class="drac-text drac-text-white">
              12:00
            </td>
            <td class="drac-text drac-text-white" style="max-width: 200px">
              Official Start
            </td>
          </tr>
          <tr>
            <td class="drac-text drac-text-white">
              12:00 – 17:00
            </td>
            <td class="drac-text drac-text-white" style="max-width: 200px">
              Keyboard exhibition
            </td>
          </tr>
          <tr>
            <td class="drac-text drac-text-white">
              16:00
            </td>
            <td class="drac-text drac-text-white" style="max-width: 200px">
              Raffle (incl. official Goodbye afterwards)
            </td>
          </tr>
          <tr>
            <td class="drac-text drac-text-white">
              17:00
            </td>
            <td class="drac-text drac-text-white" style="max-width: 200px">
              Official Ending
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-2 mb-4">
    <div class="col-lg-3 mb-4">
      <div class="drac-box drac-card drac-bg-cyan-green drac-p-sm">
        <h2 class="drac-heading drac-heading-xl drac-text-black">
          History
        </h2>
      </div>
    </div>
    <div class="col-lg-9">
      <p class="drac-text drac-line-height drac-text-white">
        Learn about events in the past. Checkout these links to get an idea how it was like :)
      </p>

      {% include history_navigation.html %}
    </div>
  </div>

  <div id="faq" class="row mt-2 mb-4">
    <div class="col-lg-3 mb-4">
      <div class="drac-box drac-card drac-bg-pink-purple drac-p-sm">
        <h2 class="drac-heading drac-heading-xl drac-text-black">
          FAQ
        </h2>
      </div>
    </div>
    <div class="col-lg-9">
      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          How do I get to the venue?
        </span>
        <br/>
        -> We recommend that you get there by <a href="https://maps.app.goo.gl/7xaXPmnKkiMLTwRp9" class="drac-anchor drac-text drac-text-pink drac-text-cyan--hover">public transport</a>. There is a <a href="https://maps.app.goo.gl/7xaXPmnKkiMLTwRp9" class="drac-anchor drac-text drac-text-pink drac-text-cyan--hover">subway station</a> very close to the venue. You can take the U4 from the main train station to get there.
        <br/>
        -> If you need to come by car, there is a <a href="https://maps.app.goo.gl/hHJ62fo5YWbzkSiA6" class="drac-anchor drac-text drac-text-pink drac-text-cyan--hover">parking garage</a> in the same building as the venue (approach it by the Arnsburger Strasse). It is publicly accessible and space is limited. Do NOT try to park in the backyard of the venue. This not allowed and will get you towed!
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          Can I bring my keyboards?
        </span>
        <br/>
        -> Yes, please! This is what Mechanicon is all about. We will have enough tables so that everyone can bring their keyboards for display!
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          Can I come, even though I don't have a keyboard yet or I am just interested in the hobby?
        </span>
        <br/>
        -> Of course! We would love to show you around! Mechanicon is the perfect chance to get a deep dive into this hobby.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          I want to bring a loooot of keyboards and I don't want to carry them from my parking lot to the venue.
        </span>
        <br/>
        -> <a href="mailto:hello@mechanicon.io" class="drac-anchor drac-text drac-text-pink drac-text-cyan--hover">Contact us</a>, we can arrange some help for unloading and watching for your stuff! Do not just park in front of building, this will get you in trouble.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          I want to bring a lot of keyboards and I need some time to set it up properly.
        </span>
        <br/>
        -> You can come up to 30 minutes earlier, doors are open from 11:30.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          I want a fancy sign next to my keyboard, so people know what they are looking at.
        </span>
        <br/>
        -> We got you covered! You will find signs and pens at the event!
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          I want to go one step further and print my own signs at home!
        </span>
        <br/>
        -> In this case, please use the
        <a href="assets/postcard.pdf" class="drac-anchor drac-text drac-text-pink drac-text-cyan--hover" >
          original template for the other signs at the event</a>.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          Where should I go if I get hungry?
        </span>
        <br/>
        -> Don't worry! The location 2024 is in Bornheim, a popular district of Frankfurt am Main. The heart of Bornheim is the <a href="https://maps.app.goo.gl/7YAmMtd1HnDC6SzP6" class="drac-anchor drac-text drac-text-pink drac-text-cyan--hover" >Berger Strasse</a> - with a variety of dining options including restaurants, cafés, fast food outlets, and supermarkets. Whether you stroll up or down the street, you're sure to find something to your taste!</p>

      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          You collect donations. What will you do if you collect more donations than you need to cover costs?
        </span>
        <br/>
        -> We really hope to collect enough donations to cover our costs. However, there we don't want to make any money out of this event.
        In case we collect more donations than we need for this year, we will keep it for the next Mechanicon. If we don't spend the money within 12 months, we will donate the money to a local non-profit.
      </p>

      <p class="drac-text drac-line-height drac-text-white">
        <span class="drac-text drac-line-height drac-text-yellow">
          I have even more questions!
        </span>
        <br/>
        -> We are happy to help! RSVP on meetup and send the organizers a message:
        <a href="mailto:hello@mechanicon.io" class="drac-anchor drac-text drac-text-pink drac-text-cyan--hover">hello@mechanicon.io</a>.
      </p>

      <p class="drac-text drac-text-bold drac-line-height drac-text-cyan mt-5">
        We hope to see you soon!<span id="blinking-cursor">_</span>
      </p>
    </div>
  </div>

  <div class="row mt-2 mb-4">
    <div class="col-lg-3 mb-4">
      <div class="drac-box drac-card drac-bg-yellow-pink drac-p-sm">
        <h2 class="drac-heading drac-heading-xl drac-text-black">
          Stay up to date!
        </h2>
      </div>
    </div>
    <div class="col-lg-9">
      <p class="drac-text drac-line-height drac-text-white">
        Our events get published on our meetup.com group.
      </p>

      <div style="border-style: solid; border-width: 1px;" class="drac-box drac-border-cyan drac-d-inline-block drac-rounded-lg drac-p-xs mb-4">
        <a class="drac-anchor drac-text drac-text-cyan drac-text-white--hover" href="https://www.meetup.com/de-DE/mechanical-keyboard-meetup-rhein-main/events/298989951/">
          -> Join us to be notified about future events! <-
        </a>
      </div>
    </div>
  </div>

</div>
