---
title: "Mechanicon"
description: "October 17th 2026 in Frankfurt am Main - Join us for Europe's biggest Mechanical Keyboard Meetup!"
layout: default
image: "assets/images/twitter_card.jpg"
---

{% include sections/hero.html %}
{% include sections/about.html %}
{% include sections/history.html %}
{% include sections/video.html %}
{% include sections/venue.html %}

{% comment %}
{% include sections/sponsors.html %}
{% endcomment %}

{% comment %}
{% include sections/schedule.html %}
{% endcomment %}

{% include sections/faq.html %}
{% include sections/stay.html %}
