<section class="section section--tight">
  <div class="video-card">
    <div class="video-card__thumb" style="padding:0;">
      <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube-nocookie.com/embed/y5cq5ejbsJ8?controls=1&modestbranding=1&rel=0&showinfo=0" title="Mechanicon 2024 recap" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <p class="video-card__caption mc-small">
      a three-minute look back at mechanicon 2024.
      <a class="mc-link" href="/2025">full archive &rarr;</a>
    </p>
  </div>
</section>
