<div class="drac-box">
  <ul class="drac-tabs drac-tabs-cyan">
    <li class="drac-tab {% if include.year == 2024 %} drac-tab-active{% endif %}">
      <a class="drac-tab-link drac-text" href="/2024">2024</a>
    </li>
    <li class="drac-tab {% if include.year == 2023 %} drac-tab-active{% endif %}">
      <a class="drac-tab-link drac-text" href="/2023">2023</a>
    </li>
    <li class="drac-tab {% if include.year == 2018 %} drac-tab-active{% endif %}">
      <a class="drac-tab-link drac-text" href="/2018">2018</a>
    </li>
    <li class="drac-tab {% if include.year == 2017 %} drac-tab-active{% endif %}">
      <a class="drac-tab-link drac-text" href="/2017">2017</a>
    </li>
    <li class="drac-tab {% if include.year == 2016 %} drac-tab-active{% endif %}">
      <a class="drac-tab-link drac-text" href="/2016">2016</a>
    </li>
  </ul>
</div>
