<footer class="site-footer">
  <div class="site-footer__left">
    <a href="/imprint">Imprint</a>
    <span class="sep">/</span>
    <a href="/imprint#privacy">Data Protection Policy</a>
  </div>
  <div class="site-footer__center mc-small mc-text-muted">
    &#x2B90; mechanicon &middot; Frankfurt am Main &middot; since 2016
  </div>
  <div class="site-footer__right">
    <a href="/discord" aria-label="Discord" class="social">
      <img class="social-icon social-icon-discord" src="/assets/images/social/discord.svg" />
    </a>
    <a href="/newsletter" aria-label="Newsletter" class="social">
      <img class="social-icon social-icon-newsletter" src="/assets/images/social/newsletter.svg" />
    </a>
    <a href="https://www.instagram.com/mechanicon_meetup" aria-label="Instagram" class="social">
      <img class="social-icon social-icon-instagram" src="/assets/images/social/instagram.svg" />
    </a>
  </div>
</footer>
