<div>
  <div style="border-style: solid; border-width: 1px;" class="drac-box drac-border-cyan drac-d-inline-block drac-rounded-lg drac-p-xs mb-4">
    <a class="drac-anchor drac-text drac-text-cyan drac-text-white--hover" href="/discord">
      -> Join our discord server to stay up to date! <-
    </a>
  </div>
</div>

<div>
  <div style="border-style: solid; border-width: 1px;" class="drac-box drac-border-pink drac-d-inline-block drac-rounded-lg drac-p-xs mb-4">
    <a class="drac-anchor drac-text drac-text-pink drac-text-white--hover" href="/newsletter">
      -> Sign up to our Newsletter! <-
    </a>
  </div>
</div>
