<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="me" href="https://mastodon.social/@mechanicon">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% favicon %}
    {% seo title=false %}
    <script src="https://js.tito.io/v2" async></script>
  </head>
  <body>
    <div class="page">
      {% include topnav.html %}
      {{ content }}
      {% include site_footer.html %}
    </div>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
